* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --shadow1: 0 5px 10px rgb(0 0 0 / 10%);
  --shadow2: inset 5px 5px 5px rgb(0 0 0 / 10%),
    inset 0px -5px 5px rgb(0 0 0 / 10%);
  --light-gray: #eee;
  --green-color: #00a816;
  --blue-color: #628ba7;
}

body {
  height: 100vh;
  background-color: var(--light-gray);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
