.menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  box-shadow: var(--shadow2);
}

.btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.editBtn {
  background-color: #fff;
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.editBtn:hover {
  background-color: var(--blue-color);
  border: none;
  color: #fff;
}

.completeBtn {
  background-color: #fff;
  border-color: var(--green-color);
  color: var(--green-color);
}

.completeBtn:hover,
.completed {
  background-color: var(--green-color);
  border-color: none;
  color: #fff;
}

.completeBtn.completed {
  background-color: var(--green-color);
  border-color: none;
  color: #fff;
}

.deleteBtn {
  background-color: #fff;
  border-color: red;
  color: red;
}

.deleteBtn:hover {
  background-color: red;
  border: none;
  color: #fff;
}